.keyboard-input {
    width: 60%;
    margin: 3% 20%;
    height: 200px;
    border: 0.063em solid #444;
    outline: none;
    font-family: monospace;
    font-size: 30px;
}

.keyboard {
    width: 700px;
    margin: 0 auto;
    border-radius: 10px 10px 4px 4px;
    box-shadow: 0px 5px 0px 0px darken(#d5d9dc, 50%);
}

.keyboard__keys {
    text-align: center;
}

.keyboard__key {
    display: inline-block;
    position: relative;
    background: #333;
    text-align: center;
    color: #eee;
    border-radius: 0.8em;
    margin: 0.2em;
    padding: 1em;
    width: 3em;
    height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: 0.063em solid #444;
    -webkit-box-shadow: 0 0.2em 0 0.05em #222;
    box-shadow: 0 0.2em 0 0.05em #222;
    border-bottom-color: #555;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.2;
}

.keyboard__key_activeted {
    background: #bd063d;
    box-shadow: inset 2px 2px 10px rgba(13, 16, 61, 0.5),
        inset -2px 2px 10px rgba(13, 16, 61, 0.5);
}


.keyboard__key:active {
    background: #242942;
    border-radius: 12px;
}

.keyboard__key_service {
    font-size: 0.8rem;
    width: 12%;
    background-color: #0b0818;
}

.keyboard__key_space {
    background-color: #0b0818;
    width: 24em;
}