@font-face {
    font-family: 'Literal';
    src: url('./assets/fonts/Literal.otf');
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

.keyboard-input {
    width: 60%;
    margin: 3% 20%;
    height: 200px;
    border: 0.063em solid #444;
    outline: none;
    font-family: 'Literal';
    font-size: 40px;
    resize: none;
    color: #1f1235;
}

.keyboard {
    width: 700px;
    margin: 0 auto;
    border-radius: 10px 10px 4px 4px;
    box-shadow: 0px 5px 0px 0px darken(#d5d9dc, 50%);
}

.keyboard-keys {
    text-align: center;
}

.keyboard-key {
    display: inline-block;
    position: relative;
    background: #333;
    text-align: center;
    color: #eee;
    border-radius: 0.8em;
    margin: 0.2em;
    padding: 1em;
    width: 3em;
    height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: 0.063em solid #444;
    -webkit-box-shadow: 0 0.2em 0 0.05em #222;
    box-shadow: 0 0.2em 0 0.05em #222;
    border-bottom-color: #555;
    font-family: 'Literal';
    line-height: 1.2;
    font-size: 0.85em;
}

.keyboard-key_activeted {
    background: #bd063d;
    box-shadow: inset 2px 2px 10px rgba(13, 16, 61, 0.5),
        inset -2px 2px 10px rgba(13, 16, 61, 0.5);
}


.keyboard-key:active {
    background: #242942;
    border-radius: 12px;
}

.keyboard-key_service {
    font-size: 0.72rem;
    width: 12%;
    background-color: #0b0818;
}

.keyboard-key_space {
    background-color: #0b0818;
    width: 24em;
}